*{
    box-sizing:border-box}

html,body{
    font-family:'Open SanS', sans-serif}

.clearfix:before, .clearfix:after{
    content:" "; display:table}

.clearfix:after{
    clear:both}

.wrapper{
    width:1440px; max-width:95%; margin: 0 auto }

h1,h2,h3,h4,h5,h6{
    font-weight:300}

#top_header{
    padding: 1.5em 0;}

#top_header .logo {float:left;text-transform:uppercase;font-size:1.15em;font-weight:700;}

#top_header .logo a{text-decoration: none; color:black}

#top_header .logo a:hover{color:#73e298}

#top_header #main_nav{
    float:right;font-size:.9em;padding-top:1em}

#top_header #main_nav a{
    color:#8b8b9f;text-decoration:none;margin: 1em}

#top_header #main_nav a:hover{color:#73e298}


#top_movies{
    padding-bottom: 1.5em}

#top_movies header{
    padding:0 0 1.5em 0}

#top_movies header h2{
    display:inline}

#top_movies header h2{
    font-size:1.75em}



.row{
    width:100%}

.row .post{
    width:14%;float:left;margin-right:2.5%}

.row .post img{
    width:100%;max-width:100%;border-radius:.5em}

.row .post .title{
    font-size:1.25em;margin:1em 0 0 0;color:#252529}

.row .post .post_info{
    font-size:.75em;color:#8b8b9f;margin:0.5em 0}

.row .post .post_info span{
    color: darkgoldenrod}


#main_footer{
    padding:2.5em 0;
    text-align:center}

#main_footer .logo{
    text-transform:uppercase;
    font-size:1.15em;
    font-weight:700}

#main_footer .logo span{
    font-weight:300;
    color:#73e298}

#main_footer .copyright{
    color:#8b8b9f;
    font-size:.75em;
    margin:0}

#main_footer .links{display:inline}

#main_footer .links a{
    color:#8b8b9f;
    font-size:.75em;
    text-decoration:none;
    margin:0 .5em}

#main_footer .links a:hover{color:#73e298}

#banner{
    background:url(images/f91_bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    padding:6.5em 0}

#banner #banner_content_wrapper{
    width:900px;
    max-width:90%;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center}

#banner #poster{
    width:275px;position:relative;float:left}

#banner #poster .featured_image{
    width:100%;
    max-width:100%;
    border-radius:.5em;
    -webkit-box-shadow:0px 0px 76px 0px rgba(0,0,0,0.47);
    -moz-box-shadow:0px 0px 76px 0px rgba(0,0,0,0.47);
    box-shadow:0px 0px 76px 0px rgba(0,0,0,0.47)}

#banner #poster .play_button{
    position:absolute;width:80px;left:50%;top:50%;margin:-40px 0 0 -40px}

#banner #content{  
    float:left;
    width:500px;
    margin-left:100px}

#banner #content .feature{
    display: block;
    margin: 0 0 1em 0;
    text-align: center;
    font-size:1.75em;
    font-weight: 700;
    color:goldenrod}

#banner #content .title{
    display:inline;
    font-size:1.75em;
    color:#fff}

#banner #content .ratings{
    display:inline;
    margin-left:1em}

#banner #content .ratings i{
    color:#73e298;
    font-size:1.35em;
    margin:0 .15em}

#banner #content .ratings .inactive{
    color:#48494d}

#banner #content .description{
    color:#bbbebf;font-size:1em;line-height:1.5}

#banner #content .info{
    color:#fff;font-size:.8em;font-weight:700;margin-top:3em}

#banner #content .info span{
    margin:0 .5em}

#banner #content .button{
    border:1px solid gold;
    outline:none;
    padding:0.5em 1.5em;
    border-radius:10em;
    font-weight:300;
    font-size:.9em;
    margin-top:3em;
    width: 100%;
    }
    #newsletter{
        padding:6.5em 0;text-align:center;background-image:url(../images/signup_background.png);
        background-repeat:no-repeat;
        background-size:cover;
        width:100%;
        margin-bottom: 2em;
        }
    
    #newsletter .newsletter_inner{
        width:600px; margin:0 auto}
    
    #newsletter h2{
        font-size:1.75em;color:#fff;font-family:'Girassol', cursive; border-bottom: 5px solid white; }
    
    #newsletter p{
        font-size:1.3em;color:#fff;}
    
    #newsletter .sign_up_form{
        margin-top:3em}
    
    #newsletter .sign_up_form .button{
        border:none;
        outline:none;
        padding:1em 2.75em;
        border-radius:0.5em;
        background:#73e298;
        color:#fff;
        font-weight:500;
        font-size:.9em;
        margin-top:.5em;
    }
    
    @import url(https://fonts.googleapis.com/css?family=BenchNine:700);
    .scanfcode
    {
      /* background-color:#795d02; */
      padding:10px;
      border:1px;
      color:rgba(248, 248, 248, 0.801);
      
     
      position:relative;
     
    }
    .scanfcode:before,
    .scanfcode:after {
      border-color: #a17d04;
      -webkit-transition: all 0.25s;
      transition: all 0.45s;
      border-style: solid;
      border-width: 0;
      content:"";
      height: 14px;
      position: absolute;
      width: 14px;
    }
    .scanfcode:before {
      border-left-width: 3px;
      border-top-width: 3px;
      left: -7px;
      top: -7px;
    }
    
    .scanfcode:after {
      border-bottom-width: 3px;
      border-right-width: 3px;
      bottom: -7px;
      right: -7px;
    }
    .scanfcode:hover:before,
    .scanfcode:hover:after
    {
      height:100%;
      width:100%;
    }

    .scanfcode1
    {
      /* background-color:#795d02; */
      padding:10px;
      border:1px;
      color:rgba(248, 248, 248, 0.801);
      
     
      position:relative;
     
    }
    .scanfcode1:before,
    .scanfcode1:after {
      border-color: #a17d04;
      -webkit-transition: all 0.25s;
      transition: all 0.45s;
      border-style: solid;
      border-width: 0;
      content:"";
      height: 14px;
      position: absolute;
      width: 14px;
    }
    .scanfcode1:before {
    
      border-bottom-width: 3px;
      border-right-width: 3px;
      bottom: -7px;
      right: -7px;
    }
    
    .scanfcode1:after {
        border-left-width: 3px;
        border-top-width: 3px;
      left: -7px;
      top: -7px;
    }
    .scanfcode1:hover:before,
    .scanfcode1:hover:after
    {
      height:100%;
      width:100%;
    }
 
    @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);
    .btn {
    
        font-weight: 300;
        color:white;
        border-radius: 2px;
        background-color: transparent;
        border: 3px solid rgb(228, 188, 151);
        padding: 6px 12px;
        transition: all 0.5s ease;
        cursor:pointer;
      }
      .btn:hover,
      button:hover {
        outline: 0;
        color: rgb(8, 2, 2);
      }
      .btn:active,
      button:active {
        font-weight: bold;
        outline: 0;
        color: rgb(158, 47, 47);
      }
      .btn-slide-left {
        background: linear-gradient(to left, transparent 50%, rgb(243, 220, 169) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
      }
      .btn-slide-left:hover {
        background-position: left bottom;
      }
    
    
