*{
    box-sizing:border-box}

html,body{
    font-family:'Open SanS', sans-serif}

.clearfix:before, .clearfix:after{
    content:" "; display:table}

.clearfix:after{
    clear:both}

.wrapper{
    width:1440px; max-width:95%; margin: 0 auto }

h1,h2,h3,h4,h5,h6{
    font-weight:300}

#top_header{
    padding: 1.5em 0;}

#top_header .logo {float:left;text-transform:uppercase;font-size:1.15em;font-weight:700;}

#top_header .logo a{text-decoration: none; color:black}

#top_header .logo a:hover{color:#73e298}

#top_header #main_nav{
    float:right;font-size:.9em;padding-top:1em}

#top_header #main_nav a{
    color:#8b8b9f;text-decoration:none;margin: 1em}

#top_header #main_nav a:hover{color:#73e298}

#banner{
    background:url(../images/icywm_bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    padding:6.5em 0}

#banner #banner_content_wrapper{
    width:900px;
    max-width:90%;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center}

#banner #poster{
    width:275px;position:relative;float:left}

#banner #poster .featured_image{
    width:100%;
    max-width:100%;
    border-radius:.5em;
    -webkit-box-shadow:0px 0px 76px 0px rgba(0,0,0,0.47);
    -moz-box-shadow:0px 0px 76px 0px rgba(0,0,0,0.47);
    box-shadow:0px 0px 76px 0px rgba(0,0,0,0.47)}

#banner #poster .play_button{
    position:absolute;width:80px;left:50%;top:50%;margin:-40px 0 0 -40px}

#banner #content{  
    float:left;
    width:500px;
    margin-left:100px}

#banner #content .feature{
    display: block;
    margin: 0 0 1em 0;
    text-align: center;
    font-size:1.75em;
    font-weight: 700;
    color:goldenrod}

#banner #content .title{
    display:inline;
    font-size:1.75em;
    color:#fff}

#banner #content .ratings{
    display:inline;
    margin-left:1em}

#banner #content .ratings i{
    color:#dbe273;
    font-size:1.35em;
    margin:0 .15em}

#banner #content .ratings .inactive{
    color:#48494d}

#banner #content .description{
    color:#f7fdff;font-size:1em;line-height:1.5}

#banner #content .info{
    color:#fff;font-size:.8em;font-weight:700;margin-top:3em}

#banner #content .info span{
    margin:0 .5em}

#banner #content .button{
    border:1px solid gold;
    outline:none;
    padding:0.5em 1.5em;
    border-radius:10em;
    font-weight:300;
    font-size:.9em;
    margin-top:3em;
    width: 100%;
    }

#top_movies{
    padding:5em 0}

#top_movies header{
    padding:0 0 1.5em 0}

#top_movies header h2,#top_movies header .view_more{
    display:inline}

#top_movies header h2{
    font-size:1.75em}

#top_movies header .view_more{
    float:right;font-size:.8em;margin:.75em 3.5% 0 0;text-decoration:none;}

#top_movies header .view_more:hover{color:#73e298}

#top_movies{
    border-bottom:1px solid #d4d4d4}

.row{
    width:100%}

.row .post{
    width:14%;float:left;margin-right:2.5%}

.row .post img{
    width:100%;max-width:100%;border-radius:.5em}

.row .post .title{
    font-size:1.25em;margin:1em 0 0 0;color:#252529}

.row .post .post_info{
    font-size:.75em;color:#8b8b9f;margin:0.5em 0}


#main_footer{
    padding:2.5em 0;
    text-align:center}

#main_footer .logo{
    text-transform:uppercase;
    font-size:1.15em;
    font-weight:700}

#main_footer .logo span{
    font-weight:300;
    color:#73e298}

#main_footer .copyright{
    color:#8b8b9f;
    font-size:.75em;
    margin:0}

#main_footer .links{display:inline}

#main_footer .links a{
    color:#8b8b9f;
    font-size:.75em;
    text-decoration:none;
    margin:0 .5em}

#main_footer .links a:hover{color:#73e298}


 
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);
.btn {

    font-weight: 300;
    color:white;
    border-radius: 2px;
    background-color: transparent;
    border: 3px solid rgb(228, 188, 151);
    padding: 6px 12px;
    transition: all 0.5s ease;
    cursor:pointer;
  }
  .btn:hover,
  button:hover {
    outline: 0;
    color: rgb(8, 2, 2);
  }
  .btn:active,
  button:active {
    font-weight: bold;
    outline: 0;
    color: rgb(158, 47, 47);
  }
  .btn-slide-left {
    background: linear-gradient(to left, transparent 50%, rgb(243, 220, 169) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .btn-slide-left:hover {
    background-position: left bottom;
  }
  



